
div#artboard{
  display:inline-block;
  border:1px solid black;
  height:545px;
  width:500px;
}
div.test{
  border:1px solid black;
  height:25px;
  width:25px;
  display:inline-block;;
}
div.set{
  border:1px solid black;
  height:5px;
  width:5px;
  display:inline-block;
}


div#controls{
  display:inline-block;
  border: 1px solid black;
  height:222;
  width:250;
  margin-bottom:20%;
}