
div#artboard{
  display:inline-block;
  border:1px solid black;
  height:545px;
  width:500px;
}
div.row{
  height:10px;
  width:10px;
  border:1px solid blue;
  display:inline-block;
}
div.cell{
  height:10px;
  width:10px;
  border:1px solid red;
  display:inline-block;
}
div#controls{
  display:inline-block;
  border: 1px solid black;
  height:150;
  width:250;
  margin-bottom:20%;
}